<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Asklee</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <form class="d-flex" style="width: 500px;">
                        <input class="form-control me-2" type="text" placeholder="Find a question">
                        <button class="btn btn-primary" type="button">Find</button>
                    </form>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">{{ user }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-info" href="javascript:void(0)">Logout</a>
                </li> -->
            </ul>
            {% if not current_user.is_authenticated %}
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('auth.register') }}">Register</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a href="" class="nav-link disabled">{{ current_user }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.change_profile') }}">Change profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>